[submodule "Nim/nim-etc"]
	path = Nim/nim-etc
	url = https://github.com/mashingan/nim-etc
[submodule "Nim/fortoy"]
	path = Nim/fortoy
	url = https://github.com/mashingan/fortoy
[submodule "D/silister"]
	path = D/silister
	url = https://github.com/mashingan/silister
[submodule "Nim/graflib"]
	path = Nim/graflib
	url = https://github.com/mashingan/graflib
[submodule "Go/gastar"]
	path = Go/gastar
	url = https://github.com/mashingan/gastar
[submodule "Go/smapping"]
	path = Go/smapping
	url = https://github.com/mashingan/smapping
